<center>
    <table border=0 cellpadding=0 cellspacing=0 style="min-width: 600px; width: 600px; max-width: 600px; margin:0 auto;" align=center valign=top role=presentation>
        <tr>
            <td dir=ltr valign=top>
                <a href="https://themezer.net/">
                    <img src="http://localhost:4100/cdn/resources/mail/banners/banner_848x208.webp" width="100%" alt="banner" style="max-height: 250px">
                </a>
                <h1>Welcome to Themezer, ${username}!</h1>
                Please verify your email by clicking the button below.
                <br>
                <br>
                <a href="${verificationUrl}">
                    <img src="http://localhost:4100/cdn/resources/mail/buttons/verify_button.webp" width="160px" alt="verify button" style="border-radius: 10px">
                </a>
                <br>
                <br>
                If you have any questions or remarks, <a href="https://discord.gg/nnm8wyM">join our Discord server</a> or email to <a href="mailto:contact@themezer.net">contact@themezer.net</a>.
                <br>
                <br>
                <i>If you do not know why you received this email, it was sent in error. Please ignore it.</i>
            </td>
        </tr>
    </table>
</center>