<center>
    <table border=0 cellpadding=0 cellspacing=0 style="min-width: 600px; width: 600px; max-width: 600px; margin:0 auto;" align=center valign=top role=presentation>
        <tr>
            <td dir=ltr valign=top>
                <a href="https://themezer.net/">
                    <img src="https://cdn.themezer.net/resources/mail/banners/banner_848x208.jpeg" width="100%" alt="banner">
                </a>
                <h1>Welcome to Themezer ${username}!</h1>
                Please verify your email by visiting the following link:<br>
                <br>
                <a href="${verificationUrl}">${verificationUrl}</a><br>
                <br>
                <i>If you do not know why you received this email, it was sent in error. Please ignore it.</i>
            </td>
        </tr>
    </table>
</center>